@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

:root {
  --name-color: #000000;
  --title-color: #474747;
  --discription-color: #151414;
}

/* This is the styling for
  - the profile picture
  - the name
  - the title
  - the description
  - the button
*/
.top {
  position: relative;
  width: 100%;
  height: 75%;
  font-family: 'Titan One', cursive;
}
.profile-picture, .name, .title, .description, .hire-link {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}
.profile-picture {
  width: 150px;
  height: 150px;
  margin-top: 30px;
  border-radius: 50%;
  -webkit-box-shadow: 6px 6px 23px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 6px 23px -6px rgba(0,0,0,0.75);
  box-shadow: 6px 6px 23px -6px rgba(0,0,0,0.75);
  filter: brightness(120%);
}
.name {
  top: 195px;
  font-size: 24px;
  font-weight: 600;
  color: var(--name-color);
}
.title {
  top: 220px;
  font-weight: 500;
  margin: 10px;
  color: var(--title-color);
}
.description {
  top: 260px;
  width: 100%;
  text-align: center;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: var(--description-color);
  line-height: 1.5;
}
.hire-link {
  top: 410px;
  text-decoration: none;
  padding: 15px 40px;
  border-radius: 30px;
  font-size: 18px;
  color: #ffffff;
  background-image: linear-gradient(
  45deg,
  hsl(210deg 40% 62%) 0%,hsl(216deg 39% 64%) 11%,
  hsl(224deg 37% 66%) 20%,hsl(236deg 33% 68%) 29%,
  hsl(251deg 31% 68%) 37%,hsl(268deg 30% 67%) 45%,
  hsl(285deg 28% 66%) 52%,hsl(303deg 27% 64%) 59%,
  hsl(318deg 35% 65%) 66%,hsl(329deg 42% 67%) 73%,
  hsl(337deg 49% 67%) 79%,hsl(345deg 53% 68%) 86%,
  hsl(352deg 57% 69%) 93%,hsl(359deg 58% 69%) 100%);
  background-size: 150% auto;
  transition: 0.5s;
  -webkit-box-shadow: 6px 6px 23px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 6px 23px -6px rgba(0,0,0,0.75);
  box-shadow: 6px 6px 23px -6px rgba(0,0,0,0.75);
}
.hire-link:hover{
  background-position: right center;
  color: #000000;
}
